@charset "UTF-8";
* a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.phone h6 {
  font-size: 14px;
}

.Register {
  margin-left: 20px;
  margin-top: 4px;
}

.Register a {
  font-size: 14px;
  color: #b0b0b0;
}

.logos {
  margin-left: 20px;
  margin-top: 5px;
}

.logos i {
  font-size: 14px;
  margin-left: 10px;
  color: black;
}

.custom-select {
  margin-top: 6px;
  font-size: 14px;
  margin-left: 10px;
}

.custom-select select {
  border: none;
}

.login h6 {
  font-size: 14px;
  font-weight: 400;
}

.logos i:hover {
  color: gold;
  transition: 0.5s;
}

.Register a:hover {
  color: gold;
}

.logo {
  margin-top: 18px;
}

.Menu {
  margin-top: 15px;
  align-items: center;
  text-align: end;
}

.Menu a {
  color: black;
  margin-left: 50px;
  font-size: 17px;
}

.Menu a:hover {
  color: gold;
  transition: 0.5s;
}

.Menu a i {
  margin-left: 5px;
}

.Tabmenu div {
  margin-right: 18px;
}

header {
  padding-bottom: 30px;
  position: static;
}

.Tabmenu {
  background: #ffffff url(//cdn.shopify.com/s/files/1/0908/7252/t/4/assets/menu_image_1.png?v=1649241…) no-repeat center bottom;
  min-height: 430px;
  margin-top: 10px;
  border-radius: 10px;
}

.Menu a:hover .Tabmenu {
  display: block !important;
}

.Carts {
  margin-top: 17px;
  margin-left: 35px;
}

.Carts i {
  margin-left: 30px;
  margin-top: 6px;
  color: black;
}

.Carts h5 a {
  margin-left: 15px;
  color: black;
}

.Slider {
  position: relative;
}
.Slider img {
  width: 100%;
}
.Slider .slider-items {
  position: relative;
}
.Slider .slider-items .about {
  position: absolute;
  top: 20%;
  left: 33%;
  font-size: 70px;
  font-weight: 100;
  color: #707070;
}
.Slider .slider-items .img-slider {
  position: absolute;
  top: 35%;
  left: 25%;
}
.Slider .priv-arrow {
  position: absolute;
  z-index: 999999;
  bottom: 50%;
  left: 0%;
  font-size: 40px;
  color: #b0b0b0;
  width: 50px;
  height: 10px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
.Slider .next-arrow {
  position: absolute;
  z-index: 999999;
  bottom: 50%;
  right: 0%;
  font-size: 40px;
  color: #b0b0b0;
  width: 50px;
  height: 50px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
.Slider .button .btn {
  position: absolute;
  top: 50%;
  left: 38%;
  padding: 10px 70px;
  background-color: black;
}
.Slider .about-2 {
  position: absolute;
  top: 45%;
  left: 36%;
  font-size: 70px;
  font-weight: 100;
  color: #707070;
}
.Slider .img-slider-2 {
  position: absolute;
  top: 20%;
  left: 29%;
}
.Slider .button-2 .btn {
  position: absolute;
  top: 62%;
  left: 42%;
  padding: 10px 70px;
  background-color: black;
}
.Slider .img-slider-3 {
  position: absolute;
  top: 20%;
  right: 3%;
}
.Slider .button-3 .btn {
  position: absolute;
  top: 52%;
  right: 3%;
  padding: 10px 70px;
  background-color: black;
}

#Collections {
  padding: 40px;
}
#Collections .title h6 {
  font-size: 25px;
}
#Collections .title img {
  width: 20%;
}
#Collections .product {
  width: 20%;
  margin-top: 40px;
  text-align: center;
  background-color: #F7F7F7;
  padding: 10px;
  border-radius: 10px;
}
#Collections .product img {
  width: 100%;
}
#Collections .product h5 {
  font-size: 30px;
  font-weight: 200;
}
#Collections .product a {
  color: #A07936;
}
#Collections .product hr {
  width: 20%;
  margin-left: 40%;
  color: #A07936;
}
#Collections .product:hover {
  background-color: #fde3b2;
  transition: 0.5s;
}

#NewProduct {
  padding: 40px;
  background-color: #f7f7f7;
}
#NewProduct .title h6 {
  font-size: 25px;
}
#NewProduct .title img {
  width: 20%;
}
#NewProduct img {
  width: 100%;
}
#NewProduct .product {
  overflow: hidden;
  padding: 6px;
  position: relative;
  width: 30%;
  border-radius: 10px;
  margin-top: 30px;
  background-color: #fff;
}
#NewProduct .product img {
  width: 89%;
}
#NewProduct .product .sale {
  position: absolute;
  top: 7%;
  right: 7%;
  background-color: #A07936;
  padding: 12px 10px;
  border-radius: 100%;
  color: #F7F7F7;
}
#NewProduct .product .sale h3 {
  font-size: 26px;
  font-weight: 300;
}
#NewProduct .product a {
  color: black;
  margin-left: 20px;
}
#NewProduct .product .icons {
  display: none;
  position: absolute;
  bottom: 21%;
  width: 97%;
  transition: 0.7s;
}
#NewProduct .product .icons i {
  margin-left: 5px;
  font-size: 20px;
  transition: 0.5s;
}
#NewProduct .product .title {
  margin-left: 20px;
}
#NewProduct .product .title h5 {
  font-size: 16px;
}
#NewProduct .product .title h6 {
  font-size: 12px;
}
#NewProduct .product .title i {
  color: #A07936;
}
#NewProduct .product .price {
  margin-right: 20px;
}
#NewProduct .product .price h4 {
  color: #A07936;
}
#NewProduct .product .price h6 {
  font-size: 12px;
  color: #8d8686;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}
#NewProduct .product:hover .icons {
  display: block;
  transition: 0.5s;
}
#NewProduct .product:hover .icons i {
  transition: 0.5s;
}
#NewProduct .product:hover {
  box-shadow: -2px 1px 20px 2px grey;
  transition: 0.5s;
}

#AboutHome {
  background-image: url(https://cdn.shopify.com/s/files/1/0908/7252/t/4/assets/home_banner_image.png?v=70259897691980875851627441366);
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  padding: 3%;
}
#AboutHome h1 {
  color: #F7F7F7;
  margin-top: 30px;
  width: 60%;
  font-size: 20px;
  margin-left: 20%;
}
#AboutHome hr {
  width: 20%;
  margin-left: 41%;
  color: #daa03d;
}
#AboutHome .btn {
  color: #daa03d;
}

#Blog-home {
  padding: 40px;
}
#Blog-home .title h6 {
  font-weight: 500;
  font-size: 20px;
}
#Blog-home .title img {
  width: 20%;
}
#Blog-home .newsb {
  margin-top: 50px;
}
#Blog-home .newsb .sa {
  margin-top: 15px;
}
#Blog-home .newsb .title a {
  font-size: 15px;
  color: #A07936;
}
#Blog-home .newsb .title span {
  color: #707070;
}
#Blog-home .newsb .title h6 {
  font-size: 14px;
  margin-top: 10px;
  font-weight: 400;
}
#Blog-home .newsb .time {
  margin-top: 10px;
  border-radius: 10px 10px 0 0;
  background-color: #A07936;
  height: 30%;
  margin-right: 10px;
}
#Blog-home .newsb .time h4 {
  margin-left: 9px;
  color: #F7F7F7;
}
#Blog-home .newsb .time h1 {
  margin-left: 10px;
  font-weight: 300;
}

.me {
  background-color: #f7f7f7;
}

.title h6 {
  font-size: 25px;
}

.title img {
  width: 20%;
}

.carousel {
  padding: 50px;
  display: flex;
}
.carousel img {
  width: 100%;
}
.carousel .product {
  width: 100px;
  padding: 6px;
  transition: witdth 2s;
  position: relative;
  width: 30%;
  border-radius: 10px;
  margin-top: 30px;
  background-color: #fff;
}
.carousel .product img {
  width: 89%;
}
.carousel .product .sale {
  position: absolute;
  top: 7%;
  right: 7%;
  background-color: #A07936;
  padding: 12px 10px;
  border-radius: 100%;
  color: #F7F7F7;
}
.carousel .product .sale h3 {
  font-size: 26px;
  font-weight: 300;
}
.carousel .product a {
  color: black;
  margin-left: 20px;
}
.carousel .product .icons {
  display: none;
  position: absolute;
  bottom: 23%;
  width: 97%;
  transition: 0.7s;
}
.carousel .product .icons i {
  margin-left: 5px;
  font-size: 20px;
  transition: 0.5s;
}
.carousel .product .title {
  margin-left: 20px;
}
.carousel .product .title h5 {
  font-size: 16px;
}
.carousel .product .title h6 {
  font-size: 12px;
}
.carousel .product .title i {
  color: #A07936;
}
.carousel .product .price {
  margin-right: 20px;
}
.carousel .product .price h4 {
  color: #A07936;
}
.carousel .product .price h6 {
  font-size: 12px;
  color: #8d8686;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}
.carousel .priv-arrow {
  position: absolute;
  z-index: 999999;
  bottom: 50%;
  left: 0%;
  font-size: 40px;
  color: #b0b0b0;
  width: 50px;
  height: 10px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
.carousel .next-arrow {
  position: absolute;
  z-index: 999999;
  bottom: 50%;
  right: 0%;
  font-size: 40px;
  color: #b0b0b0;
  width: 50px;
  height: 50px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
.carousel .product:hover .icons {
  display: block;
  transition: 0.5s;
}
.carousel .product:hover .icons i {
  transition: 0.5s;
}
.carousel .product:hover img {
  width: 99%;
  transition: 0.5s;
}

#Brands {
  background-color: #f7f7f7;
  padding: 30px;
}
#Brands .titles {
  margin-bottom: 20px;
}
#Brands .titles h6 {
  font-size: 25px;
  font-weight: 400;
}
#Brands .titles img {
  width: 20%;
}
#Brands .brand {
  margin-top: 30px;
}
#Brands .carousel-brand .priv-arrow {
  position: absolute;
  z-index: 999999;
  bottom: 80%;
  left: 0%;
  font-size: 20px;
  color: #b0b0b0;
  width: 50px;
  height: 10px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
#Brands .carousel-brand .next-arrow {
  position: absolute;
  z-index: 999999;
  bottom: 15%;
  right: 0%;
  font-size: 20px;
  color: #b0b0b0;
  width: 50px;
  height: 50px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
#Brands .carousel-brand .imgg:hover {
  transition: 0.1s;
}
#Brands .carousel-brand .imgg:hover img {
  width: 70%;
  transition: 0.5s;
}

#Mail {
  padding: 30px;
}
#Mail .titles {
  margin-bottom: 20px;
}
#Mail .titles h6 {
  font-size: 25px;
  font-weight: 400;
}
#Mail .titles img {
  width: 20%;
}
#Mail .mail-area h6 {
  font-size: 20px;
  padding: 20px;
  font-weight: 400;
}
#Mail .mail-area input {
  width: 45%;
  padding: 7px 5px;
  border: 1px solid gray;
}
#Mail .mail-area i {
  cursor: pointer;
  padding: 11px;
  background-color: #A07936;
  color: #F7F7F7;
  border: 1px solid gray;
}

#footer {
  padding: 40px;
}
#footer .content li {
  margin-bottom: 7px;
}
#footer .content ul li:hover a {
  color: #A07936;
  transition: 0.2s;
}
#footer .content ul h3 {
  font-weight: 400;
}
#footer .content a {
  color: black;
}

#Fotter-end {
  background-color: #21201F;
  padding: 30px;
}
#Fotter-end .div i {
  cursor: pointer;
  margin-left: 10px;
  font-size: 30px;
  color: #F7F7F7;
}
#Fotter-end .div i:hover {
  transition: 0.5s;
  color: #A07936;
}
#Fotter-end .fot i {
  color: #F7F7F7;
  margin-right: 5px;
}
#Fotter-end .fot a {
  color: #F7F7F7;
}
#Fotter-end .fot h6 {
  color: #F7F7F7;
}/*# sourceMappingURL=style.css.map */