* a{
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.phone h6{
  font-size: 14px;
}
.Register{
  margin-left: 20px;
  margin-top: 4px;
  
}
.Register a{
  font-size: 14px;
  color: #b0b0b0;
}
.logos{
  margin-left: 20px;
  margin-top: 5px;
}
.logos i{
  font-size: 14px;
  margin-left: 10px;
  color: black;
}
.custom-select{
  margin-top: 6px;
  font-size: 14px;
  margin-left: 10px;
}
.custom-select select{
  border: none;
}
.login h6{
  font-size: 14px;
  font-weight: 400;
}
.logos i:hover{
  color: gold;
  transition: .5s;
}
.Register a:hover{
  color: gold;
}
.logo{
  margin-top: 18px;
}
.Menu{
  margin-top: 15px;
  align-items:center;
  text-align: end;
}
.Menu a{
  color: black;
  margin-left: 50px;
  font-size: 17px;
}
.Menu a:hover{
  color: gold;
  transition: .5s;
}
.Menu a i{
  margin-left: 5px
}
.Tabmenu div{
  margin-right: 18px;
}
header{
  padding-bottom: 30px;
  position: static;
}
.Tabmenu{
  background: #ffffff url(//cdn.shopify.com/s/files/1/0908/7252/t/4/assets/menu_image_1.png?v=1649241…) no-repeat center bottom;
  min-height: 430px;
  margin-top: 10px;
  border-radius: 10px;
}
.Menu a:hover .Tabmenu{
  display: block !important;
}
.Carts{
 margin-top: 17px;
 margin-left: 35px;
}
.Carts i{
  margin-left: 30px;
  margin-top: 6px;
  color: black;
}
.Carts h5 a{
  margin-left: 15px;
  color: black;
}
header{
  position: sticky;
}
.Slider{
  position: relative;
  img{
    width: 100%;
  }
  .slider-items{
    position: relative;
    .about{
      position: absolute;
      top: 20%;
      left: 33%;
      font-size: 70px;
      font-weight: 100;
      color: #707070;
    }
    .img-slider{
      position: absolute;
      top: 35%;
      left: 25%;
    }
  }
  .priv-arrow{
    position: absolute;
    z-index: 999999;
    bottom: 50%;
    left: 0%;
    font-size: 40px;
   color: #b0b0b0;
   width: 50px;
   height: 10px;
   text-align: center;
   display: inline-block;
   cursor: pointer;
  }
  .next-arrow{
    position: absolute;
    z-index: 999999;
    bottom: 50%;
    right: 0%;
    font-size: 40px;
    color: #b0b0b0;
   width: 50px;
   height: 50px;
   text-align: center;
   display: inline-block;
   cursor: pointer;
  }
 .button .btn{ 
  position: absolute;
      top: 50%;
      left: 38%;
      padding: 10px 70px;
      background-color: black;
 }
 .about-2{
  position: absolute;
  top: 45%;
  left: 36%;
  font-size: 70px;
  font-weight: 100;
  color: #707070;
}
.img-slider-2{
  position: absolute;
  
  top: 20%;
  left: 29%;
}
.button-2 .btn{
  position: absolute;
  top: 62%;
  left: 42%;
  padding: 10px 70px;
  background-color: black;
}

.img-slider-3{
  position: absolute;
  
  top: 20%;
  right: 3%;
}
.button-3 .btn{
  position: absolute;
  top: 52%;
  right: 3%;
  padding: 10px 70px;
  background-color: black;
  }
}
#Collections{
  padding: 40px;
  .title h6{
    font-size: 25px;
  }
  .title img{
    width: 20%;
  }
  .product{
    width: 20%;
    margin-top: 40px;
    text-align: center;
    background-color: #F7F7F7;
    padding: 10px;
    border-radius: 10px;
    img{
      width: 100%;
    }
    h5{
      font-size: 30px;
      font-weight: 200;
    }
    a{
      color: #A07936;
    }
    hr{
      width: 20%;
      margin-left: 40%;
      color: #A07936;
    }

  }
  .product:hover{
    background-color: #fde3b2;
    transition: .5s;
  }
}
#NewProduct{
  padding: 40px;
  background-color: #f7f7f7;
  .title h6{
    font-size: 25px;
  }
  .title img{
    width: 20%;
  }

  img{
    width: 100%;
  }
  .product{
    overflow: hidden;
    padding: 6px;
    img{
      width: 89%;
    }
    .sale{
      position: absolute;
      top: 7%;
      right: 7%;
      background-color: #A07936;
      padding: 12px 10px;
      border-radius: 100%;
      color: #F7F7F7;
      h3{
        font-size: 26px;
        font-weight: 300;
      }
    }
    position: relative;
    width: 30%;
    border-radius: 10px;
    margin-top: 30px;
    background-color: #fff;
    a{
      color: black;
      margin-left: 20px;
    }
    .icons{
      display: none;
      position: absolute;
      bottom:21%;
      
      width: 97%;
      transition: .7s;
      i{
        margin-left: 5px;
        font-size: 20px;
        transition: .5s;
      }
    }
    .title{
      margin-left: 20px;
      h5{
        font-size: 16px;
      }
      h6{
        font-size: 12px;
      }
      i{
        color: #A07936;
      }
    }
    .price{
      margin-right: 20px;
      h4{
        color: #A07936;
      }
      h6{
        font-size: 12px;
        color: #8d8686;
        text-decoration-line: line-through;
      }
    }
   
  }

  .product:hover .icons{
    i{
      transition: .5s;
    }
    display: block;
    transition: .5s;
  }
  .product:hover{
    box-shadow: -2px 1px 20px 2px grey;
    transition: 0.5s;
  }
}
#AboutHome{
  background-image: url(https://cdn.shopify.com/s/files/1/0908/7252/t/4/assets/home_banner_image.png?v=70259897691980875851627441366);
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  padding: 3%;
  h1{
    color: #F7F7F7;
    margin-top: 30px;
    width: 60%;
    font-size: 20px;
    margin-left: 20%;
  }
  hr{
    width: 20%;
    margin-left:41%;
    color: #daa03d;
  }
  .btn{
    color: #daa03d;
  }
}
